<div class="form-container">
  <form class="form-horizontal" (submit)="$event.preventDefault(); onSubmit()">
    <h2>{{ 'signalForms.title' | translate }}</h2>
    <div class="mb-3">
      <input
        type="text"
        [formField]="signupForm.name.firstName"
        [placeholder]="'fields.firstName' | translate"
        class="form-control"
        [ngxErrorMessage]="'fields.firstName' | translate"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        [formField]="signupForm.name.lastName"
        [placeholder]="'fields.lastName' | translate"
        class="form-control"
        [ngxErrorMessage]="'fields.lastName' | translate"
      />
    </div>
    <div class="form-check mb-3">
      <input
        class="form-check-input"
        id="checkbox"
        type="checkbox"
        [checked]="checkbox()"
        (change)="checkbox.set($any($event.target).checked)"
      />
      <label class="form-check-label" for="checkbox"> Enabled </label>
    </div>
    <div class="mb-3">
      <input
        type="text"
        [formField]="signupForm.username"
        [placeholder]="'fields.username' | translate"
        class="form-control"
        [ngxErrorMessage]="'fields.username' | translate"
        patternKey="custom"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        [formField]="signupForm.password"
        [placeholder]="'fields.password' | translate"
        class="form-control"
        [ngxErrorMessage]="'fields.password' | translate"
      />
    </div>
    <div class="mb-3">
      <input
        type="email"
        [formField]="signupForm.email"
        [placeholder]="'fields.email' | translate"
        class="form-control"
        [ngxErrorMessage]="'fields.email' | translate"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        [formField]="signupForm.salary"
        [placeholder]="'fields.salary' | translate"
        class="form-control"
        [ngxErrorMessage]="'fields.salary' | translate"
      />
    </div>
    <div class="mb-3">
      <h3>Aliases</h3>
      <button type="button" (click)="addAlias()" class="btn btn-secondary">
        Add Alias
      </button>
      @for (alias of signupForm.aliases; track $index) {
        <div class="mb-3">
          <input
            type="text"
            [formField]="alias"
            [placeholder]="'fields.alias' | translate"
            class="form-control"
            [ngxErrorMessage]="'fields.alias' | translate"
          />
        </div>
      }
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="signupForm().invalid()"
    >
      Save
    </button>
  </form>
  @if (formValue) {
    <blockquote>{{ formValue | json }}</blockquote>
  }
</div>
