<aside class="sidebar p-3" [class.collapsed]="isCollapsed">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/template-driven-forms']" routerLinkActive="active">Template driven form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/reactive-forms']" routerLinkActive="active">Reactive form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/without-internationalization']" routerLinkActive="active">Without Internationalization form</a>
    </li>
  </ul>
</aside>
